@import '../animation/header-animation';

.header {
    background: linear-gradient(108deg, rgba(0, 36, 73, 1) 0%, rgba(1, 15, 53, 1) 48%, rgba(0, 0, 0, 1) 100%);
    height: 260px;
    width: 100%;
    position: relative;
    border-bottom: 2px solid $main-color;
    @include mobile-only{
        height: 220px;
    }

    &__logo-container {
        width: 200px;
        height: 200px;
        overflow: hidden;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 100px;
        @include mobile-only{
            width: 120px;
            height: 120px;
            bottom: 30px;
            left: 50%;
        }
        :hover{
            animation: rotate 0.2s forwards ease-in-out;
        }
        &--pulsing{
            animation: pulse 4.8s 2.4s linear infinite;
            @include mobile-only{
                animation:none;

            }
        }
    }

    &__logo-img {
        width: 110%;
        height: 110%;
        margin-left: -8px;
        margin-top: -4px;
        @include mobile-only{
            margin-left: -5px;
        }
        
    }

    &__navigation {
        padding: 140px;
        @include mobile-only{
            padding-left: 28%;
            padding-right:28%;
        }

        &__element {
            transition: 0.1s ease-in;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__navigation-container {
        @include horizontalFlex;
        justify-content: space-between;
        width: 100%;
        font-size: 24px;
        @include mobile-only{
            margin-top: -80px;
            font-size: 16px;

        }

        & li :nth-child(1), & li:nth-child(2){
            @include mobile-only{
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        }
    }
}



.nav--active {
    border-bottom: 2px solid;
    @include mobile-only{
        text-decoration: none;
        border-right: 2px solid;
        border-left: 2px solid;
        
    }
}