@keyframes lost {
    0%{
        transform: rotate(0deg);

    }

    50%{
        transform: rotate(180deg);
        margin-left:100px;
    }

    75%{
        transform: rotate(100deg);
        margin-top: 70px;
    }

    85%{margin-top: 80px;}
    
}

@keyframes fade-in-404-pretitle {
    0%{
        opacity: 0;
        margin-left: -500px;
    }
    100%{
        opacity: 1;
    }
    
}
@keyframes fade-in-404-title {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}